
@mixin bg($path, $name, $ext: 'png') {
  background-image: url('#{$path}#{$name}.#{$ext}');

  @media screen and (min-resolution: 2dppx) {
    background-image: url('#{$path}#{$name}@2x.#{$ext}');
  }

  @media screen and (min-resolution: 3dppx) {
    background-image: url('#{$path}#{$name}@3x.#{$ext}');
  }
}
