* {
  font-size: 32px;
}

.demo {
  position: relative;
  display: block;
  @include bg('../../asset/images/sprite/', 'base-sprite_bg', 'png');

  &-demooooo {
    position: absolute;
    @include bg('../../asset/images/sprite/', 'border-sprite_bg', 'png');
  }
}
